<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feature</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i id="sandbox" class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fully Sandboxed</h4>
                    <p class="text-muted">The app is fully sandboxed and runs in user space to securely access system APIs. No installation process. No sudo previlege is required. </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i id="configuration" class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Flexible Configuration</h4>
                    <p class="text-muted">You can choose which type of indicators to be put on the menubar with customized color and other settings</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i id="light" class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Light on Resources</h4>
                    <p class="text-muted">Single process with minimal system footprint. No additional daemon process is running in the background </p>
                </div>
            </div>
        </div>
    </section>
