<!-- Privacy Section -->
    <section id="privacy" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <!-- <!&#45;&#45; <div class="col&#38;#45;sm&#38;#45;4"> &#45;&#45;> -->
                <!--     <div class="team&#45;member"> -->
                        <!-- <img src="img/team/{{ member.pic }}.jpg" class="img&#45;responsive img&#45;circle" alt=""> -->
                        <!-- <h4>{{ member.name }}</h4> -->
													<!-- <p class="text&#45;muted">{{ member.position }}</p> -->
												<!-- <ul class="list&#45;inline social&#45;buttons"> -->
													<ul>
														<li>
														<p class="large text-muted">We DO NOT collect, store, share or sell any personal information.</li>
														</li>
														<li>
                              <p class="large text-muted">In order to obtain external IP address, we leverage a third party api service (ipify.org) to provide this information. This means your ip address might be collected and stored by the owner of this api service. Their private policy can be found <a href="https://www.whoisxmlapi.com/privacy.php">here</a>.</p>
                              <p class="large text-muted">More information regarding ipify.org can be found at their website <a href="https://www.ipify.org/">https://www.ipify.org</a> </p>
                            </li>
												 </ul>
                <!--     </div> -->
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">.</p>
                </div>
            </div>
        </div>
    </section>
